.img1
    background-image: url(../image/slider.jpg)
    height: 75vh


.text-carousel
        display: flex
        flex-direction: column
        justify-content: center
        width: 50%
        height: 80vh

.img2
    background-image: url(../image/slider2.jpg)
    height: 75vh

.img3
    background-image: url(../image/slider3.jpg)
    height: 75vh

span
    color: blue



.section2
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    width: 95vw
    
    
    

.iconss
    display: flex
    align-items: center
    justify-content: center 
    padding: 1vw   



.icons1
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 20vw
    padding: 1vh
    
    

.fa-solid
    border: 1px solid gray
    border-radius: 50px 50px
    padding:2vw
    width: 5vw
.picons
    width: 20vw
    
    

    
    
    
    


    










