.img1
    background-image: url(../image/slider.jpg)
    height: 75vh


.text-carousel
        display: flex
        flex-direction: column
        justify-content: center
        width: 50%
        height: 80vh

.img2
    background-image: url(../image/slider2.jpg)
    height: 75vh

.img3
    background-image: url(../image/slider3.jpg)
    height: 75vh

span
    color: blue



.section2
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    width: 95vw

.section3
    background-color: rgba(42, 96, 182, 0.701) 
    height: 30vh
    
    
    
    

.iconss
    display: flex
    align-items: center
    justify-content: center 
    padding: 1vw   



.icons1
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 20vw
    padding: 1vh
    
    

.ico
    border: 1px solid gray
    border-radius: 50px 50px
    padding:2vw
    width: 5vw
.picons
    width: 20vw


.imagee
    background-image: url(../image/fun-bg.jpg)
    height: 35vh





.section6
    background: #1a76d1
    .milieu  
            display: flex
            align-items: center
            justify-content: center
            flex-direction: column
            width: 90vw
                
.button1
    background: red
    width: 90vw

.bg-grayy
    background: #f9f9f9


.card2
    width: 200vw   








