
a 
    position: relative
            &::before
                content: ""
                position: absolute
                left: 0vw
                bottom: -30%
                width: 0
                background: $blue
                height: 4px
                border-radius: 4px
                transition: ease-in-out 0.3s
            &:hover::before 
                width: 100%
            

    
.img1
    background-image: url(../image/slider.jpg)
    height: 75vh


.text-carousel
        display: flex
        flex-direction: column
        justify-content: center
        width: 50%
        height: 80vh

.img2
    background-image: url(../image/slider2.jpg)
    height: 75vh

.img3
    background-image: url(../image/slider3.jpg)
    height: 75vh

span
    color: blue



.section2
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    width: 95vw


.section3
    background-color: rgba(42, 96, 182, 0.701) 
    height: 30vh
    


.iconss
    display: flex
    align-items: center
    justify-content: center 
    padding: 1vw   



.icons1
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 20vw
    padding: 1vh
    
    

.ico
    border: 1px solid gray
    border-radius: 50px 50px
    padding:2vw
    width: 5vw
.picons
    width: 20vw


.imagee
    background-image: linear-gradient(to bottom, rgba(58, 146, 234, 0.52), rgba(19, 58, 117, 0.73)),  url(../image/fun-bg.jpg)
    height: 35vh
    


.section6
    background: #1a76d1
    .milieu  
            display: flex
            align-items: center
            justify-content: center
            flex-direction: column
            width: 90vw
                
.button1
    width: 90vw

.bg-grayy
    background: #f9f9f9
    

.section9
    height: 95vh
    .cardd
        width: 70%
        




.card2
    width: 200vw   

.section10
    background-image: linear-gradient(to bottom, rgba(58, 146, 234, 0.52), rgba(19, 58, 117, 0.73)), url(../image/client-bg.jpg)
    height: 35vh

    
.sec-7
    padding-bottom: 6vw
    .top
        display: flex
        flex-direction: column
        justify-content: center
        gap: 10px
        align-items: center
        padding: 0 28vw
        text-align: center
        h1
            font-weight: bold



.section12
    background: #f9f9f9
    width: 100%
    height: 30vh 
    .email12
        width: 20vw
        padding: 10px
        border: 1px solide white
        border-radius: 5px 5px
    .btn12
        width: 13vw
        padding: 10px


.footeeer
    width: 80%
    .icons-footeer
        border: 1px solid white
        border-radius: 100px 100px
        padding:10px
        width: 1vw







.icons1 
    position: relative
    display: inline-block
    color: white
    background-image: linear-gradient(#363636, #363636)
    background-position: 50% 50%
    background-repeat: no-repeat
    background-size: 0% 100%
    transition: background-size .5s, color .5s
    .icons1:hover 
        background-size: 100% 100%
        color: #fff

.form-control
    &::placeholder
        color: white







@media   ( max-width: 430px )
